# Ignorar arquivos de ambiente virtual do Python
/Backend/venv/

# Ignorar arquivos de cache do Python
/Backend/__pycache__/
*.pyc

# Ignorar o arquivo com as chaves secretas!
/Backend/.env
My. 
# Ignorar arquivos de cache do VS Code
Tell me now. I. Help me. 